MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=upi-lake

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=upidb
POSTGRES_USER=upiuser
POSTGRES_PASSWORD=upipassword
POSTGRES_RAW_SCHEMA=raw
POSTGRES_STAGING_SCHEMA=staging
POSTGRES_MARTS_SCHEMA=marts

NUM_TRANSACTIONS=1000000
START_DATE=2023-01-01
END_DATE=2024-12-31
BATCH_SIZE=20000

GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
